

/* Para importar la fuente*/

@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@1,300&family=Turret+Road:wght@300&display=swap');
/* Para que los pading queden dentro de las misma caja*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Para llamar  la fuente al body */
body{
font-family: 'Turret Road', cursive;
}

/* Información de lña cabecera*/
header{
  width: 100%;
  height:50px;
  background: #333;
  color: #fff;
  /* Para que se quede pegado arriba*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.contenedor{

  width: 98%;
  margin: auto;

}

h1{
  float:left;
}


header .contenedor{
  display: table;
}


section{

  width: 100%;
  margin-bottom: 25px;
}

#bienvenidos{

  text-align: center;

}


footer .contenedor{

display: flex;
flex-wrap: wrap;
justify-content: center;
padding-bottom: 25px;


}
.copy{
  font-size: 20px;

}
.social{

  width: 100%;

  text-align: center;
  font-size: 28px;

}

.social a{
  color: black;
  text-decoration: none;

}




@media (min-width:768px)

{
  .social{
    width: auto;

  }

  footer .contenedor{
    justify-content: space-between;
  }


}

@media (min-width:1024px)

{
  .contenedor{
    width: 1000px;
  }


}


#video{

background: black;
color: white;

}

#video .contenedor
{
  justify-content: center;
}
